<% include helper/license.ejs %>
<!DOCTYPE html>
<html lang="en">
<% include helper/head.ejs %>
<body>
    <% include helper/navigation.ejs %>
    <div class="container full-height d-flex justify-content-center">
        <div class="align-self-center">
            <% if (!user) { %>
                <div class="card p-10">
                    <h4 class="card-header">Welcome</h4>
                    <div class="card-body p-3">
                        <p>It seems like we've never met before.</p>
                        <p>
                            Why don't you go ahead and
                            <a href="/login">authenticate yourself</a>
                            so I know who you are?
                        </p>
                   </div>
                </div>
            <% } else { %>
                <div class="card">
                    <h4 class="card-header">Hello <%= user.name %>!</h4>
                    <div class="card-body p-3">
                        <p>Manageable servers:</p>
                        <div class="row">
                            <% user.servers.forEach(server => { %>
                                <div class="col">
                                    <a class="btn btn-dark text-light" href="/manage/<%= server.id %>">
                                        <img class="nav-pic" src="<%= server.icon %>">
                                        <%= server.name %>
                                    </a>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <% include helper/scripts.ejs %>
</body>
</html>
