<% include helper/license.ejs %>
<!DOCTYPE html>
<html lang="en">
<% include helper/head.ejs %>
<body>
<% include helper/navigation.ejs %>
<div class="container full-height d-flex justify-content-center">
    <div class="align-self-center">
        <div class="card p-10">
            <h4 class="card-header">Manage <%= 'test' %></h4>
            <div class="card-body p-3">
                <p>Test</p>
            </div>
        </div>
    </div>
</div>
<% include helper/scripts.ejs %>
</body>
</html>
